<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta content="Product Manager @ Red Bull TV. I like speed, and building shit people actually use." name="description">
        <meta content="width=device-width" name=viewport>
        <link rel="me" href="https://www.facebook.com/irtehreal">
        <style type="text/css">
          {% include critical.css %}
        </style>
    </head>
    <body>
      <h1>Jase Sanders</h1>
      <h2>Product Manager</h2>
